<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Error!</h1>
<p th:if="${errorMessage==null}">Unknown error occured. Please contact support.</p>
<p th:if="${errorMessage!=null}" th:text="${errorMessage}"></p>
</body>
</html>